.heroBackground {
    background-image: url('/assets/hero/hero_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}